.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5725A3; /* Adjust as needed */
  z-index: 1000; /* Ensure it stays on top of other elements */
  padding: 10px 0; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for better visibility */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px; /* Adjust as needed */
  padding-right: 20px; /* Adjust as needed */
}

.header h1 {
  font-size: 2rem;
  color: #ffffff;
  margin: 0; /* Remove default margin */
  flex-grow: 1;
  text-align: center;
}

.logo {
  height: 60px;
  width: auto;
  vertical-align: middle; /* Aligns the logo vertically in the middle */
}